<h1>Team</h1>

<p>(in alphabetical order)</p>

<h2><a href="#ben">Benjamin Coe</a></h2>

<p>With the help of the seminal work "JavaScript for Dummies", Ben started
web-programming in the late 1990s. His first jobs were NLP related: writing
parsers for banks, and a clustering algorithm for a startup called Primal
Fusion. Wanting to concentrate on web-development, Ben took a job at
FreshBooks. It was here that a coworker introduced him to an early build of
Node.js, and to the open-source development process. After founding
Attachments.me, Ben left FreshBooks and moved to San Francisco.
Attachments.me was acquired in 2013, and Ben was looking to get more
involved in open-source. He's ecstatic to be on the npm, Inc. Team, and now
spends his days contributing to a project he's deeply passionate about.</p>

<h2><a href="#cj">CJ Silverio</a></h2>

<p>CJ's first computer program was written in a notebook because computers
weren't a thing people had at home. She finally got to run one on an Apple
][+ and never looked back. She's had a long career in Silicon Valley,
working for companies like General Magic, WebTV, and Danger, writing
everything from applications to servers. She thinks node.js is the most fun
she's had programming since the very beginning.</p>

<h2><a href="#forrest">Forrest Norvell</a></h2>

<p>Forrest first put a database on the web in 1994 and started writing Java
for a living in 1995, and knows, but does not really accept, that this means
that he is old. Among other places, he's worked for Organic Online,
Rhapsody, and New Relic, and has even taken the time to crater a startup or
two along the way. He thinks the Node community is the greatest.</p>

<h2><a href="#isaac">Isaac Schlueter</a></h2>

<p>Isaac dropped out of a CS/Physics/Math program to move to California just
in time to catch the bursting of the first dot-com bubble. He's sold vacuum
cleaners, done tech support, and professionally slung code in VB, PHP,
JavaScript, and Bash. He invented npm, ran the Node.js project for a few
years, and insisted that the npm Inc. office be in Oakland. This is the
first bio he's ever written that is not a joke.</p>

<h2><a href="#laurie">Laurie Voss</a></h2>

<p>Laurie has been building websites for 18 years and cares passionately
about making the web better for everyone. He previously worked at Yahoo and
co-founded awe.sm, which was acquired in May 2014. He is known to
absent-mindedly dance at his desk.</p>

<h2><a href="#raquel">Raquel Vélez</a></h2>

<p>Raquel started playing on the web after ditching the
never-going-to-happen robot revolution. She has previously worked at places
like Caltech, NASA JPL, the MIT Lincoln Laboratory, and Sauce Labs (among
others). She's fairly certain laughter and chocolate will cure everything,
and uses robots as an excuse to get people excited about code and math.</p>

<h2><a href="#rod">Rod Boothby</a></h2>

<p>Rod has 17 years of experience in Derivatives Finance (Wells Fargo),
Consulting (Ernst &amp; Young) and Technology with 8 of those years spent at
various start-ups. Rod believes that companies with positive inclusive
cultures are much more fun to work at and are more likely to succeed. Nice
People Matter! Rod paid for his college education selling baseball hats
though his company BC KRIS. Fellow Canadians thought the name had to do with
British Columbia. It stood for Be Cool, Keep Rod In School.</p>

<h2><a href="#zeke">Zeke Sikelianos</a></h2>

<p>Zeke considers himself a <a
href="http://zeke.sikelianos.com/portfolio">designer</a>, but has the odd
tendency of immersing himself ever deeper into the programming soup as the
years go by. Before joining npm, Zeke worked at <a
href="https://www.heroku.com">Heroku</a>, where he worked <a
href="https://github.com/heroku/heroku-buildpack-nodejs/commits/master">tirelessly</a>
to make it easy for developers of all stripes to deploy Node apps to the
proverbial clown. Zeke loves <a
href="http://zeke.sikelianos.com/#projects">human</a> and <a
href="https://osrc.dfm.io/zeke/">computer</a> languages and spends his
<em>free</em> time working on linguistic projects, some of which are <a
href="http://moby-thesaurus.org/">useful</a> and most of which are <a
href="http://zeke.sikelianos.com/outcasts/">absurd</a>.</p>
